<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= image_tag( @user.photo_url ) if @user.photo? %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
